<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>זכות בקליק</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>
        ברוכים הבאים לאתר זכות בקליק
        העוזר האישי שלך במציאת זכויות
    </h1>
    <div id="app-wrapper">

        <div id="chat-container" class="hidden-at-start">
            <!-- תיבת התשובה -->
            <div id="response-container">
                <div class="response-wrapper">
                    <div id="response"></div>
                    <div class="copy-buttons-group" id="copy-buttons">
                        <button class="copy-button" onclick="copyToClipboard()">📋 העתק</button>
                        <button class="copy-button" onclick="readAloud()">🔊 הקרא</button>
                        <button class="copy-button" onclick="stopReading()">🛑 עצור</button>
                    </div>
                </div>
            </div>
            <div id="loader-container">
                <div class="loader"></div>
                <p>אנא המתן לקבלת התשובה...</p>
            </div>

            <div id="button-container">
                <button class="who-am-i" onclick="whoAmI();setActiveButton(this)" onmouseenter="speakText('מי אני')"
                    tabindex="0">מי אני</button>
                <div style="margin-bottom: 20px;">
                    <label for="website-select"
                        style="font-size: 22px;font-weight: bold;color:  hsl(15, 79%, 58%); padding: 10px; border-radius: 10px;">
                        בחר אתר:
                    </label>
                    <select id="website-select" style="font-size: 18px; padding: 8px; border-radius: 10px;"
                        onmouseenter="speakText('בחר אתר')">
                    </select>
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="disability-select"
                        style="font-size: 22px; font-weight: bold;color:  hsl(15, 79%, 58%); padding: 10px; border-radius: 10px;">
                        בחר תחום:
                    </label>
                    <select id="disability-select" style="font-size: 18px; padding: 8px; border-radius: 10px;"
                        onmouseenter="speakText('בחר תחום')"></select>
                </div>

            </div>

            <!-- תיבת הטקסט והכפתור -->
            <div id="input-container">
                <button class="send-button" onclick="askQuestion()">שלח</button>
                <textarea id="user-input" placeholder="הקלד/י את שאלתך כאן..."></textarea>
                <button id="mic-button" class="copy-button" type="button" title="הקש להכתבה">🎤 הקש להכתבה</button>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>

</body>

</html>